:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --primary-white-color: #ffffff;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}
/* logo */
.logo {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.part-logo {
  color: var(--accent-text-color);
  margin-top: 0;
}
.logo:hover,
.logo:focus {
  color: var(--accent-text-color);
}

ul {
  list-style: none;
  margin: 0;
	padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid black;
}

.display-block {
  display: block;
}

/* nav */
.header > .container {
  display: flex;
  align-items: center;
}
.main-nav {
  display: flex;
  align-items: center;
}
/* site nav */
.site-nav {
  display: flex;
  margin-left: 85px;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
}
.site-nav .link.current {
  color: var(--accent-text-color);
}
/* contacts */
.auth-nav {
  display: inline-flex;
  align-items: center;
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.auth-nav .auth-nav-item + .auth-nav-item {
  margin-left: 30px;
}
.auth-nav .auth-nav-list {
  color: var(--primary-text-color);
  text-decoration: none;
}

.auth-nav .auth-nav-list:hover,
.auth-nav .auth-nav-list:focus {
  color: var(--accent-text-color);
}

/* hero */
.hero {
  text-align: center;
}

.hero >.container {
width: 1600px;
height: 600px;
padding-top: 200px;
padding-bottom: 200px;
background: rgba(47, 48, 58, 0.8);
background-image: url(../img/Header-img.jpg);
background-position: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-style: 400;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

/* feauture */
.feauture {
  display: flex;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0;
}
.feauture > .container {
  padding-top: 94px;
  padding-bottom: 94px;
  display: flex;
  justify-content: center;
}

.feauture .list {
  display: flex;
  margin: 0;
	padding: 0;
	list-style: none;
}
.feauture .list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.feauture .title {
  color: var(--title-text-color);
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.feauture .text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.feauture .item {
  display: block;
  width: calc((100%-90%) / 4);
}
.list-item + .list-item {
  margin-left: 30px;
}
.list-item::before {
  display: block;
  content: '';
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center ;
  background-size: 70px;
  outline: 1px solid;
  margin-top: 0;

}

.list-item:nth-child(1)::before {
  background-image: url(../img/svg-link/antenna.svg);
}
.list-item:nth-child(2)::before {
  background-image: url(../img/svg-link/clock.svg);
}
.list-item:nth-child(3)::before {
  background-image: url(../img/svg-link/diagram.svg);
}
.list-item:nth-child(4)::before {
background-image: url(../img/svg-link/astronaut.svg);
} 

.work-item {
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-top: 0;
  padding-bottom: 50px;
}
.work-item .work {
  width: calc((100%-60%) / 3);
}
.work-item > .work + .work {
  margin-left: 30px;
}
.work-list {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}

.work-title {
  color: var(--primary-white-color);
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  width: 370px;
  height: 70px;
  margin: 0;
  text-align: center;
  padding-top: 28px;
}

/* team */
.team {
  background: #F5F4FA;
}
.team .container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.name {
  display: block;
}
.team .team-list {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.team .item {
  padding-left: 0;
  display: flex;
  justify-content: center;
}
.team .team-title {
  text-align: center;
  margin-top: 0;
}
.team .text {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
.team .team-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 30px;
  margin-bottom: 10px;
}
.team .icon {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 24px;
  color: var(--primary-text-color);
}
.social {
  width: 44px;
  height: 44px;
  /* background-color: teal; */
  color: var(--primary-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.social-link {
margin: 0;
padding: 0;

}

.social-icon {
  width: 22px;
  height: 22px;
  fill: var(--primary-text-color);
  
}

.social:hover {
 display: block;
  border-radius: 50%;
  background-color: var(--accent-text-color);
  fill: currentColor;
}
.team .social:not(:first-child) {
margin-left: 10px;
}
.team .social + .social {
  margin-left: 36px;
}
.team .space + .space {
  margin-left: 30px;
} 
.space {
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  background: var(--primary-white-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

/* clients */
.container.no-padding {
  padding-top: 94px;
  padding-bottom: 94px;
  padding-left: 0;
  padding-right: 0;
} 

.clients .item {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.clients .list:not(:first-child) {
  margin-left: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.clients .list:first-child {
  margin-left: 30px;
}

.clients .list {
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  width: 170px;
  height: 90px;
  text-align: center;
  padding-top: 25px;
  padding-left: 0;
}
.clients-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

/* footer */
.footer {
  align-items: center;
  background: #2f303a;
  height: 253px;
}

.logo-footer {
  color: var(--accent-text-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.part-logo-footer {
  color: var(--primary-white-color);
  margin-top: 0;
}

.part-logo-footer:hover,
.part-logo-footer:focus {
  color: var(--accent-text-color); 
}

.footer-main {
  padding-top: 45px;
  padding-bottom: 60px;
  margin-top: 0;
  align-items: flex-start;
}

.footer-nav {
  display: flex;
  align-items: flex-start;
}

.footer .title {
  padding-top: 54px;
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.footer .address {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 231px;
  font-style: 400px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--primary-white-color);
}
.list .item {
  margin-top: 9px;
}
.item .mailto {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 1,71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.item .phone {
  font-family: Roboto;
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
  line-height: 1,71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer .list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.footer .address {
  margin-top: 10px;
}

.footer .footer-button {
  padding-left: 0;
  display: flex;
}

.part-logo .list > .item {
  margin-top: 10px;
}
.join-us {
  margin-left: 68px;
}

.join-us .social-links {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  text-decoration: none;
}

.footer .tttt {
  margin: 0;
  padding: 0;
  width: 44px;
  height: 44px;
  /* background-color: teal; */
  display: flex;
  justify-content: center;
}

.footer .icon {
  width: 20px;
  height: 20px;
  fill: var(--primary-text-color);
}

.footer .tttt:hover{
  display: block;
  border-radius: 50%;
  background-color: var(--accent-text-color);
  fill: currentColor;
  display: flex;
  justify-content: center;
}

.social-links .tttt + .tttt {
  margin-left: 10px;
}
.subscribe {
  margin-left: auto;
}

/* button */
.button {
  color: var(--primary-white-color);
  text-decoration: none;
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.button.buy {
  width: 200px;
  left: 700px;
  top: 430px;
  background-color: var(--accent-text-color);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  text-align: center;
  cursor: pointer;
}

.sociaj-links .link {
  
  fill: var(--primary-white-color);
}

.social-links .list:hover {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--accent-text-color);
}

.social-links .icon {
  fill: var(--primary-white-color);
}

.button.mail {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 12px;
  padding-right: auto;
  margin-right: 12px;
 
  font-size: 16px;
  line-height: 1,87;
  display: inline-block;
  text-align: left;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  width: 358px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.button.send {
  padding-top: 14px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 62px;
  display: inline-block;
  width: 200px;
  height: 50px;
  margin-right: 0;
  margin-bottom: 0;
  background-image: url("../img/icon-send.svg");
  background-color: var(--accent-text-color);
  background-repeat: no-repeat;
  background-position: 148px 13px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.copy {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  display: block;
  font-family: Roboto;
  font-size: 12px;
  line-height: 2;
  color: rgba(255, 255, 255, 0.4);
}

/* стилі portfolio.css */

.filter {
  color: var(--title-text-color);
  /* background: #f5f4fa; */
  display: flex;
  justify-content: center;
  padding: 6px;
}
.filter .button {
  margin-top: 0;
  margin-right: 8px;
  background: #F5F4FA;
  border-radius: 4px;
}
.filter .button:hover,
.filter .button:focus {
  background-color: var(--accent-text-color);
  color: var(--primary-white-color);
}


.flex-element .title {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.flex-element .text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-text-color);
  text-decoration: none;
}

.flex-element .preview {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1, 87;
}

.flex-container {
  padding-left: 0;
  padding-top: 50px;
  padding-bottom: 94px;
  width: 1230px;
  display: flex;
  flex-wrap: wrap;

}
.flex-element {
  width: 380px;
  background-color: var(--primary-white-color);
  margin-right: 15px;
}
.flex-element:nth-child(3n) {
  margin-right: 0;
}
.flex-element .link {
  text-decoration: none;
}
.portfolio-section {
}